@import url('https://fonts.googleapis.com/css2?family=Alice&family=Karla:wght@200&display=swap');

body {
    background: url('/styles/img/biowallpaper.png') no-repeat center center fixed;
    background-size: cover; /* ajusta o tamanho da imagem */
    margin: 0; /* remove a margem padrão do corpo */
    height: 100vh; /* ocupa 100% da altura da viewport */
    font-family: 'Alice', serif;
    font-family: 'Karla', sans-serif;
    background-repeat: no-repeat;
    background-color: black;
}

.whats{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
}

.font-white{
    color: white;
    font-size: 1.25rem;
    text-indent: 2.5rem;
}

.bg-bio{
    background-color: rgba(63, 63, 63, 0.801);
    padding: 20px;
    border-radius: 20px;
}
